.Message{
    width: 100vh;
    height: 11vh;
    
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.Profile{
    width:10vh;
    height:10vh;
    border:1px solid red;
    float: left;
    border-radius: 50%;
}
.Contents{
    margin-top: 2%;
    background-color: cornsilk;
    height:7vh;
    border-radius: 5px;
    
    
}
.Block{
    margin-left: 1%;
    width:30vh;
    height:100px;
    float:left;
}
.UserName{
    
    width:30%;
    height:20px;
    font-weight: bold;
    float: left;
    
}
.Date{
    
    text-align: right;
    font-size: 14px;
}
