@charset "utf-8";

.UserInfo{
    margin: 0 auto;
    .img{
        margin: 2em;
        text-align: center;
    }
    .button{
        
       
        text-align: center;

        .Button1{
            text-align: center;
            float: left;
            margin-right: 2em;
            margin-left: 3em;
        }
        .Button2{
            text-align: center;
            margin-right: 2em;
            margin-left: 2em;
        }
    }

    .form{
        padding: 1.5em;
    }
}